//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
//////  VARIABLES

/// COLOR
// $color-primary: #18467b;
$color-primary: #003359;
$color-primary-light: #0069aa;
$color-secondary: #ffc425;
$color-tertiary: #f89728;
$color-quartiary: #b2bb1e;
$color-gray-light: #e8e7e7;
$color-gray-dark: #807f83;
$color-white: #fff;
$color-black: #000;
$color-signin-error: #ff4500;

/// FONT
$font-primary: sans-serif;

/// UTILS
$border-radius-corner: 0.8rem;
$tab-height: 4.5rem;
$tab-width: 20.5rem;
$transition-slow-out: all 0.3s ease-out;

//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
/// RESET STYLES
///

*,
*::after,
*::before {
  border: none;
  box-sizing: inherit;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: $color-gray-light;
  color: $color-gray-dark;
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
}
