//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
//////  VARIABLES

/// COLOR
$color-primary: #18467b;
$color-secondary: #ffc425;
$color-gray-light: #e5e5e5;
$color-gray-dark: #191919;
$color-white: #fff;
$color-black: #000;
$color-signin-error: #ff4500;

/// FONT
$font-primary: sans-serif;

/// UTILS
$border-radius-corner: 0.8rem;
$transition-slow-out: all 0.3s ease-out;

//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
/// RESET STYLES
///

*,
*::after,
*::before {
  border: none;
  box-sizing: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: $color-gray-light;
  color: $color-gray-dark;
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
}
