//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
/// GRID (css grid)
///

$header-height: 5rem;

.container {
  display: grid;
  grid-template-columns:
    [sidebar-start] 20.5rem [sidebar-end full-start]
    minmax(1rem, 10rem)
    [center-start]
    repeat(8, [col-start] minmax(min-content, 1fr) [col-end])
    [center-end]
    minmax(1rem, 10rem) [full-end];
  grid-template-rows: 5rem 100vh 10rem;
}

.header {
  grid-column: sidebar-start / full-end;
  grid-row: 1 / 2;

  position: sticky;
  top: 0;
}

.tabs__sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 2 / -1;

  /***********************
  **** Fixes the Tabs Menu below header
  ***********************/
  height: calc(100vh - $header-height);
  position: sticky;
  top: $header-height;
}

.tabs__content {
  grid-column: center-start / center-end;
  grid-row: 2 / 3;
  border-bottom: 0.2rem solid darken($color-gray-light, 5%);
}

.footer {
  grid-column: full-start / full-end;
  grid-row: 3 / -1;
}
