.tabs {
  // aside
  &__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $color-primary;
    color: $color-white;

    &-ul {
      color: $color-gray-light;
      font-size: 1.8rem;
      margin-top: 3rem;

      //   border: 1px solid red;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &-li {
      //   border: 1px solid yellow;
      display: flex;
      align-items: center;
      gap: 1.5rem;

      cursor: pointer;
      height: $tab-height;
      padding: 1rem 3rem;
      position: relative;
      transition: $transition-slow-out;

      &:hover {
        transform: scale(1.05);
      }

      &--active {
        color: $color-primary;
        fill: $color-primary;
        transition: $transition-slow-out;
        z-index: 1;
      }

      &-icon {
        fill: currentColor;
        height: 2rem;
        width: 2rem;
      }
    }

    &-footer {
      color: $color-secondary;
      font-size: 1rem;
      padding: 1rem;
      text-align: center;
      text-transform: uppercase;
    }

    &-slider {
      background-color: $color-gray-light;
      height: $tab-height;
      transition: $transition-slow-out;
      width: $tab-width;

      position: absolute;
    }
  }
}
